body{
    background-color: bisque;
}
div {
    position: relative;
    margin-left: 145px;
    height: 800px;
    width: 1400px;
    background-color: aqua;
}
.header {
    width: 1400px;
    height: 20%;
    margin: auto;
    border: solid black;
    position: absolute;
    background-color: rgb(73, 111, 248);
    
}
.footer {
    position: absolute;
    width: 1400px;
    height: 10%;
    bottom: 0;
    margin: auto;
    background-color: aquamarine;
}
h1 {
    font-size: 30px;
}
