body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}

div {
    position: relative;
    margin-left: 145px;
    height: 800px;
    width: 1400px;
    background-color: aqua;
}
.son {
    position: absolute;
    float: left;
    margin-left: 0;
    height: 800px;
    width: 300px;
    background-color: rgb(10, 102, 241);
}
h1 {
    font-size: 25px;
}